<% include head %>
  <div id="container" class="container-fluid">
	<div class="row">
	  <div class="col-sm-3 col-md-2 sidebar">
	    <% include sidebar %>
	  </div>
	  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>About Me</h1>
		<img src= "/images/avatar.png" width="128" height="128"/>
	    <br /><br />
	    <p>Hi I'm Kevin! :)</p>
      </div>
    </div>
  </div>
<% include foot %>
