<% include head %>
  <div id="container" class="container">
    <!--div class="bs-callout bs-callout-danger" id="callout-glyphicons-dont-mix" -->
	<div class="alert alert-danger" role="alert">
      <h1>nuqneH!</h1>
	  <br /><br />
	  <p>tlhIngan maH! Heghlu'meH QaQ jajvam.</p>
	  <pre><%= error.message %></pre>
	  <pre><%= error.status %></pre>
	  <pre><%= error.stack %></pre>
	  <br /><br />
	  <a class="btn btn-success" href="/" role="button">Back to Alpha Quadrant</a>
	</div>
  </div>


<% include foot %>
