<% include head %>
<div id="container" class="container-fluid">
<p>Please login first!<p>
<form method='post' action='/login'>
  <!--input type='submit' value='Login' /-->
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
<% include foot %>
