<% include head %>
  <div id="container" class="container">
    <div>
      <h1><%= title %></h1>
 	  <p>Author: Kevin</p>
	  <a class="btn btn-success" href="/" role="button">Home</a>
	  <br /><br />
	  <%- article %>
	</div>
	<div>
	  <form method="post">
	    <input type="submit" value="submit">
	  </form>
	</div>
  </div>


<% include foot %>
